 #container{
	 content:"This is the main container element";
            margin: 20px ;
            position: relative; /* Change position to relative */
            display: flex;
            justify-content: center;
            /* margin:50px 0 */
        }

        #container::before {
            content: "Before Element";
            position: absolute;
            top: 0;
            left: 0px; /* Adjust the left position */
            color: rgb(255, 0, 0);
            font-size: 20px;
			margin:0 70px
        }

        #container::after {
            content: "After Element";
            position: absolute;
            top: 0;
            right: 10px; /* Adjust the right position */
            color: #f00;
            font-size: 20px;
			margin:0 70px
			/* justify-content:left; */
		}